
<div class="app-auth">
  <div class="auth-box">

    <div class="auth-logo">
      <div class="auth-logo-mark"></div>
      <div class="auth-logo-text">SOUND<span>RECORDS</span></div>
    </div>

    <div class="auth-title">Únete a SoundRecords</div>
    <div class="auth-sub">La comunidad musical latinoamericana te espera</div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
      <div class="field" [class.invalid]="registerUsername?.invalid && registerUsername?.touched">
        <label for="register-username">Nombre de usuario</label>
        <input id="register-username" type="text" placeholder="@tu_nombre" formControlName="username" />
        <div class="hint error" *ngIf="registerUsername?.invalid && registerUsername?.touched">
          Mínimo 3 caracteres
        </div>
      </div>

      <div class="field" [class.invalid]="registerEmail?.invalid && registerEmail?.touched">
        <label for="register-email">Correo electrónico</label>
        <input id="register-email" type="email" placeholder="tu@correo.com" formControlName="email" />
        <div class="hint error" *ngIf="registerEmail?.invalid && registerEmail?.touched">
          Ingresa un correo electrónico válido
        </div>
      </div>

      <div class="field" [class.invalid]="registerPassword?.invalid && registerPassword?.touched">
        <label for="register-password">Contraseña</label>
        <input id="register-password" type="password" placeholder="Mín. 8 caracteres" formControlName="password" />
        <div class="hint error" *ngIf="registerPassword?.invalid && registerPassword?.touched">
          Debe contener letras y números, mínimo 8 caracteres
        </div>
        <div class="hint" *ngIf="registerPassword?.valid || !registerPassword?.touched">
          Debe contener letras y números
        </div>
      </div>

      <div class="hint error general-error" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button type="submit" class="btn-primary btn-block" [disabled]="loading">
        {{ loading ? 'Creando cuenta...' : 'Crear cuenta' }}
      </button>
    </form>

    <div class="auth-footer">
      Al registrarte aceptas nuestros
      <a href="javascript:void(0)">Términos de uso</a> y
      <a href="javascript:void(0)">Política de privacidad</a>
      <br />
      ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
    </div>
  </div>
</div>
